<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key=".html" value="text/html"/>
    <add key=".htm" value="text/html"/>
    <add key=".gif" value="image/gif"/>
    <add key=".jpg" value="image/jpeg"/>
    <add key=".jpeg" value="image/jpeg"/>
    <add key=".doc" value="application/msword"/>
    <add key=".docx" value="application/msword"/>
    <add key=".pdf" value="application/pdf"/>
    <add key=".css" value="text/css"/>
    <add key=".xml" value="text/xml"/>
    <add key=".jar" value="application/x-java-archive"/>
    <add key="octet-stream" value="application/octet-stream"/>
  </appSettings>
